@model List<MVCCrud.Models.ListColaboradoresModel>

@{
    ViewBag.Title = "Listado de Colaboradores";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align: right; padding: 5px">
    <a href="~/colaboradores/nuevo" class="btn btn-primary">Nuevo</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <tr>
                <th># ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Estado Civil</th>
                <th>Grado Académico</th>
                <th>Dirección</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID_Colaborador</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.FechaNacimiento</td>
                    <td>@item.EstadoCivil</td>
                    <td>@item.GradoAcademico</td>
                    <td>@item.Direccion</td>
                    <td>
                        <a href="~/colaboradores/editar/@item.ID_Colaborador" class="btn btn-default">Editar</a>
                        <a href="~/colaboradores/eliminar/@item.ID_Colaborador" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
