@model List<MVCCrud.Models.ListColaboradoresModel>

@{
    ViewBag.Title = "Colaboradores";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th># ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Estado Civil</th>
                <th>Grado Académico</th>
                <th>Dirección</th>
            </tr>
        </table>
    </div>
</div>


<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Colaborador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradoAcademico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
